@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* (paragraphs) */
    ---Transparen-twhite : hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
    --Very-light-gray-: hsl(0, 0%, 95%);
    /* Titulo */
    --white:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 250px;
    
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(---Transparen-twhite);
    border-radius: .5rem;
    overflow: hidden;
    width: 100vh;
    height:50vh;
}

.tarjeta1{
    background-color: var(--Bright-orange);
    padding: 2rem;

}

.tarjeta2{
    background-color: var(--Dark-cyan);
    padding: 2rem;
}

.tarjeta3{
    background-color: var(--Very-dark-cyan);
    padding: 2rem;
}

.titulo{
    color: var(--white);
    padding: 1rem 0;
}

.texto p{
    text-align: initial;
    padding: 20px 30px 0 0;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 50px;
}

.boton a{
    background-color: var(--white);
    padding: 16px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    border: 2px solid white;
    
}

.btn1{
    text-decoration: none;
    color: var(--Bright-orange); 
}

.btn1:hover{
    background-color: var(--Bright-orange);
    text-decoration: none;
    border: 2px solid white;
    color: var(--white); 
}

.btn2{
    text-decoration: none;
    color: var(--Dark-cyan); 
}

.btn2:hover{
    background-color: var(--Dark-cyan);
    text-decoration: none;
    border: 2px solid white;
    color: var(--white); 
}

.btn3{
    text-decoration: none;
    color: var(--Very-dark-cyan); 
}

.btn3:hover{
    background-color: var(--Very-dark-cyan);
    text-decoration: none;
    border: 2px solid white;
    color: var(--white); 
}

@media screen and (max-width:375px) {

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 10px;
       
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 375px;
        padding: 5%;
        border-radius: 1rem;
        overflow: hidden;
    }

    .tarjeta1{
        border-radius: .7rem .7rem 0 0;
    }

    .tarjeta3{
        border-radius: 0 0 .7rem .7rem;
    }

}